
.wholepage{
  width: auto;
  height: 4800px;
  flex-direction: column;
  display: flex;

  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  background-color: transparent;
  background-image: url('img_bg_1.jpg');

}
